<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
    <appSettings>
      <add key="provider" value="System.Data.SqlClint"/>
      <add key="connectionString" value="Data Source=DIOGONOTE;Initial Catalog=testDB;Integrated Security=True;Pooling=False"/>
    </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>